<!DOCTYPE html>
<html ng-app="houseBubble">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>Housing Bubble</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="MainCtrl as main">
    <header>
      <nav>
        <ul>
          <li> <span class="title"> Housing Bubble </span></li>
          <li ng-if="!main.isAuthenticated()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
          <li ng-if="!main.isAuthenticated()"><a ui-sref="register" ui-sref-active="active">Register</a></li>
          <li ng-click="main.logout()" ng-if="main.isAuthenticated()"><a href="#">Logout</a></li>
          <li ng-if="main.isAuthenticated()"> <span class="user"> {{ main.currentUser.username }} </span></li>
          <li>

            <a href="#">
              <!-- <svg class="icon icon-search">
                <symbol id="icon-search" viewBox="0 0 32 32">
                  <path d="M31.008 27.231l-7.58-6.447c-0.784-0.705-1.622-1.029-2.299-0.998 1.789-2.096 2.87-4.815 2.87-7.787 0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12c2.972 0 5.691-1.081 7.787-2.87-0.031 0.677 0.293 1.515 0.998 2.299l6.447 7.58c1.104 1.226 2.907 1.33 4.007 0.23s0.997-2.903-0.23-4.007zM12 20c-4.418 0-8-3.582-8-8s3.582-8 8-8 8 3.582 8 8-3.582 8-8 8z"></path>
                </symbol>
                <use xlink:href="#icon-search"></use>
              </svg> -->
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- <h2> Housing Bubble </h2> -->

    <main ui-view>
    </main>
    <footer>
      <div>£400,000</div>
      <div>£800,000</div>
      <div>£1,200,000</div>
      <div>£1,600,000</div>
      <div>£2,000,000</div>
      <span>

      </span>
    </footer>
  </body>
</html>
