<!DOCTYPE html>
<html ng-app="houseBubble">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>Angular Stack Setup</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="MainCtrl as main">
    <header>
      <nav>
        <ul>
          <li> <span class="title"> Housing Bubble </span></li>
          <li ng-if="!main.isAuthenticated()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
          <li ng-if="!main.isAuthenticated()"><a ui-sref="register" ui-sref-active="active">Register</a></li>
          <li ng-click="main.logout()" ng-if="main.isAuthenticated()"><a href="#">Logout</a></li>
          <li ng-if="main.isAuthenticated()"> <span class="user"> {{ main.currentUser.username }} </span></li>
        </ul>
      </nav>
    </header>

    <!-- <h2> Housing Bubble </h2> -->

    <main ui-view>
    </main>
    <footer>
      <div>£400,000</div>
      <div>£800,000</div>
      <div>£1,200,000</div>
      <div>£1,600,000</div>
      <div>£2,000,000</div>
      <span>

      </span>
    </footer>
  </body>
</html>
