// Import all of your scss files here
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h2 {
  margin: 100px 0;
  text-align: center;
}

form.postcode-search {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 50%;
  // background: ghostwhite;
  input {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    line-height: 20px;
  }
  button {
    cursor: pointer;
    border: none;
    margin-top: 10px;
    background: grey;
    color: white;
    line-height: 25px;
    display: block;
    width: 100%;
  }
}

.bubbleChart {
  margin: 0 auto;
  text-align: center;
  display: block;
}

svg {
  border: 3px solid red;
  display: block;
  margin: 0 auto;
}

div.toolbar {
  display: block;
  margin: 50px 0;
  text-align: center;
  a {
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
    &:hover {
      color: dodgerblue;
    }
  }
}
