
<form class="postcode-search" ng-submit="housesIndex.getHouses(housesIndex.location)">
  <input type="text" ng-model="housesIndex.location">
  <button> </button>
</form>

<div id="toolbar" class="toolbar">
  <a href="#" id="All" class="button active">All</a>
  <a href="#" id="Bedrooms" class="button"> Bedrooms</a>
  <a href="#" id="Bathrooms" class="button"> Bathrooms</a>
  <!-- <a href="#" class="button" ng-click="housesIndex.findUserProperties()"> findUserPros</a> -->
</div>

<!-- <div class="fixed">
  <a href="#" class="button" ng-click="housesIndex.click()"> ClickDis</a>
</div> -->

<!-- <div class="fixed">
  {{ housesIndex.userdata }}clickdis="housesIndex.clickdis"
</div> -->

<bubbles id="thisone" class="bubbleChart" nodes="housesIndex.nodes" userdata="main.userdata" add-property="housesIndex.addProperty(item)" remove-property="housesIndex.removeProperty(item)"></bubbles>
