
<form class="postcode-search" ng-submit="housesIndex.getHouses(housesIndex.location)">
  <input type="text" ng-model="housesIndex.location">
  {{ housesIndex.postcode + housesIndex.value }}
  <button> Search </button>
</form>

<div id="toolbar" class="toolbar">
  <a href="#" id="all" class="button active">All</a>
  <a href="#" id="bedrooms" class="button"> Bedrooms</a>
  <a href="#" id="bathrooms" class="button"> Bathrooms</a>
  <a href="#" id="percent" class="button"> Percent Change</a>
</div>

<bubbles class="bubbleChart" nodes="housesIndex.nodes" add-property="housesIndex.addProperty(item)"></bubbles>
